/******************************************************
HOME STYLES
******************************************************/
.home {
    background: url("http://goo.gl/G7ZB66") no-repeat center center fixed;
}




/******************************************************
CONTENT STYLES
******************************************************/
.sughra_content {
     background: url("http://goo.gl/ABy0wQ") no-repeat center center fixed;
     opacity: .5;
}

.content_box {
    background: rgba(255, 255, 255, 0.4);
}